This notebook will demostrate how to match catalogs with this package.

## Data I/O
<!-- To initialize an `astrotable.table.Data` object, input path to the data, an `astropy.table.Table` object, or anything that can be converted to an `astropy.table.Table` object.  -->
In this package, data are handled by the `astrotable.table.Data` class. To get started, import the `astrotable.table.Data` class:

In [1]:
from astrotable.table import Data

Initialize a `Data` object simply using the path to the data file (note that the files in `./samples/` directory are randomly generated datasets):

In [2]:
cat1 = Data('samples/catalog1.csv', name='cat1')

It is highly recommended to input a `name` keyword argument, as this name will be used to distinguish different datasets. if `Data` is initialized with a path to file and no `name` is given, it will be automatically set to the file name.

Inside the class, the data is stored in an `astropy.table.Table` object, which can be accessed by `data.t`. Thus, you can do anything as you can do with an `astropy.table.Table` object.

In [3]:
print("Name:", cat1.name)
cat1.t

Name: cat1

<Table length=100>
survey1_id         RA                 Dec           A     B
  int32         float64             float64       int32 int32
---------- ------------------ ------------------- ----- -----
         0 213.97270432253802  -64.56756226110878  6308   233
         1 201.52301875416597   -9.28690472041771  8670   329
         2 269.99728512493795 -58.493484032138056  1803    21
         3  9.154948591816833  -48.53721306047669  9376   332
         4  90.38158728957859  -60.65028754242699  5231   459
         5   94.5738843176371  -0.300580707865322  6119   353
         6 348.60867552294656  -83.26014129433523   337   332
         7  132.1381138144912  -64.92924394039969  4552   143
         8  187.4328313492788 -44.073367589742766    72   156
         9 104.02947521856244 -31.695448201512292  6628   220
       ...                ...                 ...   ...   ...
        90 183.21096948806547  -86.80314477177195  4450   187
        91 307.66114011653536  -72.34968378847701  7552   286
        92  305.2672709585981  -89.98144431227014   344   422
        93 199.33023329905095  -43.04272123589508   937   371
        94  38.60838741180505  -31.22680066907673  9025   244
        95  302.8474245577353 -13.221287144773967  2118    87
        96 284.75509086569633  -72.37106650435335  4933   184
        97  36.42887931968059 -19.121006117289895  5569    52
        98 258.90594070885226 -24.705594353445946  2612    81
        99 107.22750573859943  -41.85365330641917  1341    69

You may also add keyword arguments to be passed to `astropy.table.Table.read()`:

In [4]:
cat3id = Data('samples/catalog3_id.txt', name='cat3id',
              names=['cat3ID', 'survey2_id'], format='ascii')
cat3v = Data('samples/catalog3_measurement.txt', name='cat3v',
             names=['survey2_id', 'x', 'y', 'class1'], format='ascii')

A `Data` object can also be created with an `astropy.table.Table` object, or anything that can be converted to an `astropy.table.Table` object.

In [5]:
from astropy.table import Table
cat2_table = Table.read('samples/catalog2.fits')
cat2 = Data(cat2_table, name='cat2')
cat4_dict = dict(Table.read('samples/catalog4.hdf5'))
# print(cat4_dict)
cat4 = Data(cat4_dict, name='cat4')

<!-- Let us have a look at  -->

## Matching
In this package, catalog B is said to be *matched to* A, if each record (row) in A is assigned two values:
- Whether it can be matched to a record in catalog B;
- The index of the best match record in catalog B (if no match possible, the index can be any number but means nothing).

A is referred to as the *base data* of the match.

### Matching with a built-in matcher
To match `cat4` to `cat1` with the exact value of the `'survey1_id'` field in `cat1` and the `'survey1_id'` field in `cat4`, use an `ExactMatcher`:

In [6]:
from astrotable.matcher import ExactMatcher
cat1.match(cat4, ExactMatcher('survey1_id', 'survey1_id'))

"cat4" matched to "cat1": 51/100 matched.

Since there are more than one records for the same `'survey1_id'` in `cat4`, matching `cat1` to `cat4` is not equal to matching `cat4` to `cat1`:

In [7]:
cat4.match(cat1, ExactMatcher('survey1_id', 'survey1_id'))

"cat1" matched to "cat4": 70/70 matched.

You may use any iterable object (e.g. an array) to match the catalogs, provided that what is used to match catalogs has the same length (i.e. number of records) as the catalogs.

In [8]:
print('len(cat3v) =', len(cat3v))
print('len(cat3id) =', len(cat3id))
cat2.match(cat3v, ExactMatcher('survey2_id', cat3id.t['survey2_id']))

len(cat3v) = 110
len(cat3id) = 110
"cat3v" matched to "cat2": 110/150 matched.

You can also match data with thier coordinates:

In [9]:
from astrotable.matcher import SkyMatcher
import astropy.units as u
cat1.match(cat2, SkyMatcher(unit=u.deg, unit1=(u.h, u.deg))) # RA for cat1 is dms; RA for cat2 is hms.

Data cat1: found RA name 'RA' and Dec name 'Dec'.
Data cat2: found RA name 'RA' and Dec name 'Dec'.
"cat2" matched to "cat1": 90/100 matched.

For more information on `SkyMatcher`, use `help(SkyMatcher)`.

To remove all matches to `cat1`, use:

In [10]:
# cat1.reset_match()

### Defining custom matchers
You may also define your own matchers. A macther class should be defined like this:

In [11]:
class MyMatcher():
    def __init__(self, args): # 'args' means any number of arguments that you need
        # initialize it with args you need
        pass
    
    def get_values(self, data, data1, verbose=True): # data1 is matched to data
        # prepare the data that is needed to do the matching (if necessary)
        pass
    
    def match(self):
        # do the matching process and calculate:
        # idx : array of shape (len(data), ). 
        #     the index of a record in data1 that best matches the records in data
        # matched : boolean array of shape (len(data), ).
        #     whether the records in data can be matched to those in data1.
        return idx, matched

## Merging catalogs

### Match tree
If B is matched to A, I call A as the *child data* of B, and B as the *parent data* of A.

Say B, C are matched to A, and D is matched to B. Then B, C are children of A, and D is child of B. When we try to merge everything into A<!-- (i.e. add the information of corresponding records in B, C, D into A)--> (i.e. merge the information in A's chilren, grandchildren, etc. into A), it may be useful to see all of its children/grandchildren, or what I call the *match tree*:

In [12]:
cat1.match_tree(detail=False)

Names with parentheses are already matched, thus they are not expanded and will be ignored when merging.
---------------
cat1
:   cat4
:   :   (cat1)
:   cat2
:   :   cat3v
---------------

From the *match tree* we may see that `cat4` and `cat2` are matched to `cat1` and `cat3v` is matched to `cat2`. Although `cat1` is also matched to `cat4`, this match is a duplication in this match tree, and will be ignored when merging everything (`cat4`, `cat2` and `cat3v`) into `cat1`.

For more information on how they are matched:

In [13]:
cat1.match_tree(detail=True)

Names with parentheses are already matched, thus they are not expanded and will be ignored when merging.
---------------
cat1 [base]
:   cat4 [ExactMatcher('survey1_id', 'survey1_id')]
:   :   (cat1) [ExactMatcher('survey1_id', 'survey1_id')]
:   cat2 [SkyMatcher with thres=1]
:   :   cat3v [ExactMatcher('survey2_id', 'survey2_id')]
---------------

For example, we may also use `cat4` as the base catalog:

In [14]:
cat4.match_tree(detail=False)

Names with parentheses are already matched, thus they are not expanded and will be ignored when merging.
---------------
cat4
:   cat1
:   :   (cat4)
:   :   cat2
:   :   :   cat3v
---------------

### Catalog merging
Now we can merge everything possible to be merged into `cat1`:

In [15]:
merged_cat = cat1.merge(outname='my_merged_catalog')
print("Name:", merged_cat.name)
merged_cat.t

merged: cat1, cat4, cat2, cat3v
Name: my_merged_catalog

<Table length=30>
survey1_id_cat1      RA_cat1             Dec_cat1      ...   x     y    class1
     int32           float64             float64       ... int32 int32   str8
--------------- ------------------ ------------------- ... ----- ----- --------
              0 213.97270432253802  -64.56756226110878 ...   347   624 Type III
              8  187.4328313492788 -44.073367589742766 ...   200   784 Type III
             12  274.9755359854324 -46.763915275241764 ...   439   351   Type I
             13 244.48845400028554  -76.08437131529189 ...   413   223   Type I
             14  254.1930792486915  -56.51341037274159 ...   521   565 Type III
             15    300.94573020305 -33.538587039094594 ...    22   664   Type I
             18  102.5887558206159  -46.08805584014972 ...   497   326 Type III
             20  206.8220972937418  -5.662787214634307 ...   293   499 Type III
             29  333.1315228870165  -83.66608808539158 ...   493   284   Type I
             30  60.52133494990202  -43.53139963697669 ...   379   220   Type I
            ...                ...                 ... ...   ...   ...      ...
             63  33.33206288146597    -68.826278121223 ...   639   447   Type I
             66  298.2000219336728  -42.20882575258029 ...   568   384   Type I
             70 12.127847243841234 -21.995697379658466 ...   584   697  Type II
             71  65.32110009697838  -49.89753969595574 ...   252    95   Type I
             73 240.17445391797642  -51.05783111691183 ...   322   599 Type III
             79 209.79876935271417 -48.037054060818356 ...   123   642 Type III
             80   34.5683298268012  -1.513794601957244 ...     5   292 Type III
             88 262.79011830531977 -59.311299727603924 ...   689   512 Type III
             94  38.60838741180505  -31.22680066907673 ...   581   117   Type I
             98 258.90594070885226 -24.705594353445946 ...   226   131  Type II

Note that columns with the same names are renamed by the `name` of the `Data` objects. You may also check that the match is indeed correct.

### Merging options

Maybe you want to keep records that cannot be matched to `cat3v` and only want to merge subsets of columns from the catalogs:

In [16]:
merge_columns = { # specify columns to be merged
    'cat1': ['survey1_id', 'RA', 'Dec'],
    'cat4': ['i', 'j'],
    'cat2': ['survey2_id'],
    'cat3v': ['class1'],
    }

keep_unmatched = ['cat3v'] # keep records that cannot be matched to cat3v

another_merged_cat = cat1.merge(keep_unmatched=keep_unmatched, 
                                merge_columns=merge_columns) # use default outname
print("Name:", another_merged_cat.name)
another_merged_cat.t

entries with no match for cat3v is kept.
merged: cat1, cat4, cat2, cat3v
Name: match_cat1_cat4_cat2_cat3v

<Table length=44>
survey1_id         RA                 Dec         ...   j   survey2_id  class1
  int32         float64             float64       ... int32   int32      str8
---------- ------------------ ------------------- ... ----- ---------- --------
         0 213.97270432253802  -64.56756226110878 ...  5407         40 Type III
         2 269.99728512493795 -58.493484032138056 ...  6439         73       --
         4  90.38158728957859  -60.65028754242699 ...  6878        141       --
         5   94.5738843176371  -0.300580707865322 ...  1254         89       --
         6 348.60867552294656  -83.26014129433523 ...  4704         68       --
         8  187.4328313492788 -44.073367589742766 ...  7390         71 Type III
        11 170.11833223185067 -37.359813181905174 ...  7174        139       --
        12  274.9755359854324 -46.763915275241764 ...  1823         11   Type I
        13 244.48845400028554  -76.08437131529189 ...  3050         33   Type I
        14  254.1930792486915  -56.51341037274159 ...   134         18 Type III
       ...                ...                 ... ...   ...        ...      ...
        70 12.127847243841234 -21.995697379658466 ...  2690        104  Type II
        71  65.32110009697838  -49.89753969595574 ...  3986        146   Type I
        73 240.17445391797642  -51.05783111691183 ...  2138          5 Type III
        76  310.5303079704237 -14.987964464761347 ...  7851        119       --
        79 209.79876935271417 -48.037054060818356 ...  1819         46 Type III
        80   34.5683298268012  -1.513794601957244 ...  1468        117 Type III
        88 262.79011830531977 -59.311299727603924 ...   569        147 Type III
        89 295.75357580908536 -14.735208676915676 ...   544         66       --
        94  38.60838741180505  -31.22680066907673 ...  7582         17   Type I
        98 258.90594070885226 -24.705594353445946 ...  3550          2  Type II

You may also set the depth for `match_tree` and `merge` methods. Setting depth to 0 means only keeping the base catalog itself.

In [17]:
cat4.match_tree(depth=2)

Names with parentheses are already matched, thus they are not expanded and will be ignored when merging.
---------------
cat4 [base]
:   cat1 [ExactMatcher('survey1_id', 'survey1_id')]
:   :   (cat4) [ExactMatcher('survey1_id', 'survey1_id')]
:   :   cat2 [SkyMatcher with thres=1]
---------------

In [18]:
cat4.match_tree(depth=0)

Names with parentheses are already matched, thus they are not expanded and will be ignored when merging.
---------------
cat4 [base]
---------------

In [19]:
cat4.merge(depth=1).t

merged: cat4, cat1

<Table length=70>
  id  survey1_id_cat4   i     j   ...         Dec           A     B
int32      int32      int32 int32 ...       float64       int32 int32
----- --------------- ----- ----- ... ------------------- ----- -----
    0              29  5262  1187 ...  -83.66608808539158  9519   243
    1              20  7551  7445 ...  -5.662787214634307  1814   329
    2              30  1402  7410 ...  -43.53139963697669  2221    37
    3              50  8325  2188 ...  -38.44786504223306  8468    36
    4              57  7500  7129 ...  -67.35697851611482   825   207
    5              88  3776   569 ... -59.311299727603924  5764   278
    6              94  6632  7582 ...  -31.22680066907673  9025   244
    7              62  2178  1883 ...  -70.39892406293181  9249    77
    8              36  6705  7392 ...  -29.62284703390563  8529    23
    9              74  8410  6314 ...  -78.65452871433797  4294   463
  ...             ...   ...   ... ...                 ...   ...   ...
   60              37  6940   260 ...   -61.1672461461972  1603   309
   61              28  5145  2481 ...  -24.85029223706198  4143   180
   62              70  6221  2690 ... -21.995697379658466  7290   275
   63              71  6572  3986 ...  -49.89753969595574  3721   354
   64              98  6957  3550 ... -24.705594353445946  2612    81
   65              25  1043   836 ...  -84.79402964860535  2350    97
   66              30  3833  2672 ...  -43.53139963697669  2221    37
   67              58  2128  2163 ...  -6.658830809832338  6136   349
   68              13   608  3050 ...  -76.08437131529189   679   350
   69              80  6694  1468 ...  -1.513794601957244   295   154

## Things to be noted

This package does not support matching multiple records to a single record in the base data. For example, `table2` below has two records with the same `survey_id`:

In [20]:
table1 = Data({'survey_id': [0, 1, 2], 'value': ['A', 'B', 'C']}, name='t1')
table1.t

<Table length=3>
survey_id value
  int32    str1
--------- -----
        0     A
        1     B
        2     C

In [21]:
table2 = Data({'table2_id': [0, 1, 2], 'survey_id': [0, 1, 0]}, name='t2')
table2.t

<Table length=3>
table2_id survey_id
  int32     int32
--------- ---------
        0         0
        1         1
        2         0

If you match `table2` to `table1` by `survey_id` using `ExactMatcher`, the first exact match in `table2` will be used:

In [22]:
table1.match(table2, ExactMatcher('survey_id', 'survey_id')).merge().t

"t2" matched to "t1": 2/3 matched.
merged: t1, t2

<Table length=2>
survey_id_t1 value table2_id survey_id_t2
   int32      str1   int32      int32
------------ ----- --------- ------------
           0     A         0            0
           1     B         1            1

If you wish to keep the records with the same `sruvey_id` in `table2`, you may match `table1` to `table2` instead of matching `table2` to `table1`:

In [23]:
table2.match(table1, ExactMatcher('survey_id', 'survey_id')).merge().t

"t1" matched to "t2": 3/3 matched.
merged: t2, t1

<Table length=3>
table2_id survey_id_t2 survey_id_t1 value
  int32      int32        int32      str1
--------- ------------ ------------ -----
        0            0            0     A
        1            1            1     B
        2            0            0     A

Or you may merge these records (with the same `sruvey_id`) before matching and merging the catalogs.